{% extends "layout_logined.html" %}

{% block content %}
<div>
    <div class="m-4">
        <div class="form-group mt-2 mb-2">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="h6 fw-bold">Edit Task</h1>
                    <div>
                        <form action="{{ url_for('edit_processing', id=task.id) }}" method="post">
                            <input class="form-control mb-2" type="text" name="description" placeholder="Description"
                                value="{{ task.description }}">
                            <input class="btn btn-success" type="submit" value="Edit">
                            <input type="hidden" name="_method" value="put">
                        </form>
                        <div class="d-flex justify-content-end my-4">
                            <form action="{{ url_for('edit_processing', id=task.id) }}" method="post">
                                <input type="hidden" name="_method" value="delete">
                                <button type="button" class="btn btn-danger" data-bs-toggle="modal"
                                    data-bs-target="#deleteModal">Delete</button>
                                <!-- Modal -->
                                <div class="modal fade" id="deleteModal" tabindex="-1"
                                    aria-labelledby="deleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="deleteModalLabel">
                                                    Are you sure to delete this task?
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Back</button>
                                                <input class="btn btn-danger" type="submit" value="Delete">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}