{% extends "layout_nologin.html" %}

{% block content %}
<div class="text-center">
    <div class="mt-2">
        <h1 class="h3 fst-italic">{{ gettext('login') }}</h1>
        <form action="{{ url_for('login') }}" method="post">
            <div class="form-group mt-4 mb-4 mx-2">
                <div class="row">
                    <div class="col-10 offset-1">
                        <input class="form-control m-2" type="email" name="email" placeholder="{{ gettext('email') }}"
                            required>
                        <input class="form-control m-2" type="password" name="passwd"
                            placeholder="{{ gettext('password') }}" required>
                        <input class="btn btn-primary" type="submit" value="{{ gettext('login') }}">
                        <div class="m-2">
                            <a href="{{ url_for('signup') }}" class="link-primary text-decoration-none">{{
                                gettext('signup') }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}